body
{
    height: 100%;
    font-family: "DMSans Regular";
    font-size: 20px;
    color: var(--text_color);
}

html
{
    background-image: var(--background);
    height: 100%;
    background-position: center;
    background-size: cover;
}

button
{
    font-family: "DMSans Regular";
    font-size: 20px;
    background-color: var(--button_color);
    background-size: cover;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px;
}

input[type = text]
{
    border: 2px solid var(--textinput_border);
    font-family: DMSans Regular; 
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    color: var(--text_color);
    outline-width: 0px;
    background-color: var(--popup_background);
}

input[type = number]
{
    border: 2px solid var(--textinput_border);
    font-family: DMSans Regular; 
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    color: var(--text_color);
    outline-width: 0px;
    background-color: var(--popup_background);
}

select
{
    border: none;
    border-radius: 30px;
    padding: 10px;
    background-color: var(--button_color);
    color: var(--text_color);
    font-family: "DMSans Regular";
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    outline: none;
}

option
{
    color: var(--text_color);
    font-family: "DMSans Regular";
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
}

fieldset
{
    border:2px solid var(--button_color);
    border-radius: 30px;
    margin: 10px;
}

canvas
{
    border: none;
    border-radius: 40px;
}